@font-face {
  font-family: 'aclonicaregular';
  src: url('./fonts/aclonica-regular-webfont.woff2') format('woff2'),
    url('./fonts/aclonica-regular-webfont.woff') format('woff'),
    url('./fonts/aclonica-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeSpeed;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('./fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
    url('./fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('./fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeSpeed;
}
body {
  font-size: 16px;
  font-family: system-ui, 'open_sansregular';
  line-height: 1.4;
}
h1,
h2,
h3 {
  font-family: 'aclonicaregular';
  font-weight: 300;
}
a {
  text-decoration: none;
}
.main {
  &__title {
    color: $blue-color;
    font-size: 4rem;
    font-family: 'aclonicaregular';
  }
  &__p {
    font-size: 1.4rem;
    color: $blue-color;
    font-family: inherit;
  }
  &__button-a {
    font-size: 1.4rem;
    color: $white-color;
    font-family: inherit;
    line-height: inherit;
  }
}
.header__a,
.about__p {
  font-size: 1.4rem;
  color: $blue-color;
  font-weight: inherit;
}

.map__country-p {
  color: $blue-color;
  font-size: 1.1rem;
}
.footer__p {
  color: rgba($light-primary, 0.6);
  font-size: 1.1rem;
}
.about__title,
.contact__title {
  color: $blue-color;
  font-size: 4rem;
  font-family: 'aclonicaregular';
  text-transform: uppercase;
}
.contact {
  &__input,
  &__textarea {
    font-size: 1.4rem;
    font-family: system-ui, 'open_sansregular';
    line-height: 1.5;
  }
  &__button {
    font-size: 1.4rem;
    color: $white-color;
    font-family: inherit;
    line-height: inherit;
  }
  &__textarea::placeholder,
  &__input::placeholder {
    color: rgba($blue-color, 0.4);
  }
}
@media only screen and (max-width: 800px) {
  .header__ul {
    color: $white-color;
  }
}
