.about {
  @include display-flex;
  width: 100%;
  &__container {
    width: 100%;
    @include display-flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    align-items: stretch;
    background-size: 20%;

    min-height: 40rem;
    height: 100%;
    background-position: 0 0;
    align-items: flex-start;
  }
  &__title-container {
    width: 100%;
    @include display-flex;
    padding-bottom: 1.5rem;
    position: relative;
  }
  &__p-containers:not(:last-child) {
    padding-bottom: 1rem;
  }
  &__img-container {
    animation-fill-mode: forwards;
    position: relative;
    animation-name: come-from-left;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    position: absolute;
  }
  &__img {
    position: absolute;
    top: -1.35rem;
    left: -2.2rem;
    z-index: -1;
  }

  &__p-containers {
    opacity: 0;
  }
  &__p:not(:last-child) {
    padding-bottom: 1rem;
  }
  &__background {
    background-image: url(./../img/van.svg);
    background-size: 60%;
    background-position: 50px 20px;
    background-repeat: no-repeat;
    transition: all 3s ease;
  }
}
@media only screen and (max-width: 1100px) {
  .about {
    &__container {
      justify-content: center;
      padding-right: 0rem;
    }
  }
}
