.header {
  &__container {
    width: 100%;
    height: 10rem;
    @include display-flex;
    padding: 2rem 7.5rem;
  }
  &__nav {
    @include display-flex;
  }
  &__logo {
    width: 90px;
  }
  &__ul {
    @include display-flex;
    padding-right: 1rem;
  }
  &__li {
    padding-right: 0.5rem;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  &__a {
    padding: 1rem 1rem 1rem 0;
  }
  &__contacts {
    width: auto;
    height: 1.1rem;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  &__img-a {
    padding-right: 1.3rem;
    padding-top: 0.3rem;
  }
}
