.header {
  &__container {
    width: 100%;
    height: 10rem;
    @include display-flex;
    padding: 2rem 7.5rem;
  }
  &__nav {
    @include display-flex;
  }
  &__logo {
    width: 60px;
  }
  &__ul {
    @include display-flex;
    padding-right: 1rem;
  }
  &__li {
    padding-right: 0.5rem;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  &__a {
    padding: 1rem 1rem 1rem 0;
  }
  &__contacts {
    z-index: 1;
  }
  &__contacts {
    width: auto;
    height: 1rem;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  &__img-a {
    padding-right: 1.3rem;
    padding-top: 0.3rem;
  }
}
a.header__img-a {
  z-index: 4;
  padding: 0.5rem;
}
@media only screen and (max-width: 800px) {
  .header {
    &__nav {
      position: relative;
      padding-bottom: 2rem;
      padding-right: 3rem;
      &::before {
        position: absolute;
        content: '';
        width: 2.7rem;
        height: 3px;
        background-color: $blue-color;
        box-shadow: 0 10px 0px $blue-color, 0 -10px 0px $blue-color;
        top: 0.8rem;
        transition: all 0.5s ease;
      }
      &::after {
        position: absolute;
        content: '';
        width: 2.7rem;
        height: 3px;
        background-color: transparent;
        top: 0.8rem;
        transition: all 0.5s ease;
      }
    }
    &__click {
      &::before {
        background-color: $primary-color;
        box-shadow: none;
        transform: rotate(45deg);
        z-index: 30;
      }
      &::after {
        background-color: $primary-color;
        transform: rotate(-45deg);
        transition: all 0.5s ease;
        z-index: 30;
      }
    }
    &__img-a {
      display: none;
    }
    &__ul {
      flex-direction: column;
      align-items: flex-start;
      background-color: $blue-color;

      padding-left: 7rem;
      position: absolute;
      top: -4rem;
      left: -7.5rem;
      width: 100vw;
      height: 100vh;
      z-index: 20;
      transform: scaleY(0);
      opacity: 0;
      justify-content: center;
      background-image: url('./../img/van-white.svg');
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: 130px 140px;
    }
    &__li {
      padding: 1rem;
      opacity: 0;
    }
  }
}
@media only screen and (max-width: 700px) {
  .header {
    &__container {
      padding: 2rem 4rem;
    }
    &__logo {
      width: 3.5rem;
    }
    &__ul {
      padding-left: 4rem;
      background-position: 80px 160px;
      left: -4rem;
    }
  }
}
@media only screen and (max-width: 345px) {
  .header {
    &__container {
      padding: 2rem 3rem;
    }
    &__ul {
      left: -3rem;
      padding-left: 3rem;
    }
    &__nav::before,
    &__nav::after {
      height: 2px;
    }
  }
}
