.header {
  &__container {
    width: 100%;
    height: 10rem;
    @include display-flex;
    padding: 2rem 7.5rem;
  }
  &__nav {
    @include display-flex;
  }
  &__logo {
    width: 90px;
  }
  &__ul {
    @include display-flex;
    padding-right: 1rem;
  }
  &__li {
    padding-right: 0.5rem;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  &__a {
    padding: 1rem 1rem 1rem 0;
  }
  &__contacts {
    z-index: 1;
  }
  &__contacts {
    width: auto;
    height: 1rem;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  &__img-a {
    padding-right: 1.3rem;
    padding-top: 0.3rem;
  }
}
a.header__img-a {
  z-index: 4;
  padding: 0.5rem;
}
@media only screen and (max-width: 800px) {
  .header {
    &__nav {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 2.7rem;
        height: 3px;
        background-color: $blue-color;
        box-shadow: 0 10px 0px $blue-color, 0 20px 0px $blue-color;
        top: -0.76rem;
      }
    }
    &__img-a {
      display: none;
    }
    &__ul {
      display: none;
      flex-direction: column;
      background-color: $blue-color;
      width: auto;
      padding: 2rem;
    }
  }
}
@media only screen and (max-width: 700px) {
  .header {
    &__container {
      padding: 2rem 4rem;
    }
  }
}
