#line1,
#line4,
#line7 {
  fill: $blue-color;
  opacity: 0;
  animation-fill-mode: forwards;

  animation-name: change-opacity;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  transition: all 2s ease-in-out;
}
#line2,
#line5 {
  fill: $red-color;
  opacity: 0;
  animation-fill-mode: forwards;

  animation-name: change-opacity;
  animation-duration: 2s;
  animation-timing-function: ease;

  &:hover {
    fill: transparent;
  }
}
#line3,
#line6 {
  fill: $white-color;
  opacity: 0;
  animation-fill-mode: forwards;

  animation-name: change-opacity;
  animation-duration: 2s;
  animation-timing-function: ease;

  &:hover {
    fill: transparent;
  }
}
#line2 {
  animation-delay: 12s;
}
#line3 {
  animation-delay: 13s;
}
#line5 {
  animation-delay: 14s;
}
#line6 {
  animation-delay: 15s;
}
